<div class="size-chart-sections">
  <!-- WOMENS DRESS Section -->
  <div class="size-chart-section">
    <h4>WOMENS DRESS</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>8-XS</th>
            <th>10-S</th>
            <th>12-M</th>
            <th>14-L</th>
            <th>16-XL</th>
            <th>18-2XL</th>
            <th>20-3XL</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td><strong>BUST</strong></td>
            <td class="convert">82</td>
            <td class="convert">87</td>
            <td class="convert">92</td>
            <td class="convert">97</td>
            <td class="convert">102</td>
            <td class="convert">108</td>
            <td class="convert">114</td>
          </tr>
          <tr>
            <td><strong>NATURAL WAIST</strong></td>
            <td class="convert">63.5</td>
            <td class="convert">68.5</td>
            <td class="convert">73.5</td>
            <td class="convert">78.5</td>
            <td class="convert">83.5</td>
            <td class="convert">89.5</td>
            <td class="convert">95.5</td>
          </tr>
          <tr>
            <td><strong>HIGH HIP</strong></td>
            <td class="convert">81</td>
            <td class="convert">86</td>
            <td class="convert">91</td>
            <td class="convert">96</td>
            <td class="convert">101</td>
            <td class="convert">107</td>
            <td class="convert">113</td>
          </tr>
          <tr>
            <td><strong>HIP</strong></td>
            <td class="convert">89</td>
            <td class="convert">94</td>
            <td class="convert">99</td>
            <td class="convert">104</td>
            <td class="convert">109</td>
            <td class="convert">115</td>
            <td class="convert">121</td>
          </tr>
          <tr>
            <td><strong>ARM LENGTH</strong></td>
            <td class="convert">75</td>
            <td class="convert">76.5</td>
            <td class="convert">78</td>
            <td class="convert">79.5</td>
            <td class="convert">81</td>
            <td class="convert">83</td>
            <td class="convert">85</td>
          </tr>
          <tr>
            <td><strong>TOTAL HEIGHT</strong></td>
            <td class="convert">170</td>
            <td class="convert">170</td>
            <td class="convert">170</td>
            <td class="convert">170</td>
            <td class="convert">170</td>
            <td class="convert">170</td>
            <td class="convert">170</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

