<div class="size-chart-sections">
  <!-- BABIES Section -->
  <div class="size-chart-section">
    <h4>BABIES</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>HEIGHT</th>
            <th>CHEST</th>
            <th>WAIST</th>
            <th>HIP</th>
            <th>WEIGHT</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td>0 - 6M</td>
            <td class="convert">68</td>
            <td class="convert">45.5</td>
            <td class="convert">45</td>
            <td class="convert">46</td>
            <td>8kgs</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- TODDLERS Section -->
  <div class="size-chart-section">
    <h4>TODDLERS</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>HEIGHT</th>
            <th>CHEST</th>
            <th>WAIST</th>
            <th>HIPS</th>
            <th>WEIGHT</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td>6M</td>
            <td class="convert">68</td>
            <td class="convert">45.5</td>
            <td class="convert">45</td>
            <td class="convert">46</td>
            <td>8kgs</td>
          </tr>
          <tr>
            <td>9M</td>
            <td class="convert">74</td>
            <td class="convert">47</td>
            <td class="convert">46.5</td>
            <td class="convert">48</td>
            <td>9kgs</td>
          </tr>
          <tr>
            <td>12M</td>
            <td class="convert">80</td>
            <td class="convert">49.5</td>
            <td class="convert">49</td>
            <td class="convert">52</td>
            <td>10kgs</td>
          </tr>
          <tr>
            <td>18M</td>
            <td class="convert">86</td>
            <td class="convert">51</td>
            <td class="convert">50</td>
            <td class="convert">54</td>
            <td>11kgs</td>
          </tr>
          <tr>
            <td>24M</td>
            <td class="convert">92</td>
            <td class="convert">53</td>
            <td class="convert">51</td>
            <td class="convert">56</td>
            <td>12.5kgs</td>
          </tr>
          <tr>
            <td>36M</td>
            <td class="convert">98</td>
            <td class="convert">55</td>
            <td class="convert">52</td>
            <td class="convert">58</td>
            <td>14.5kgs</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- GIRLS Section -->
  <div class="size-chart-section">
    <h4>GIRLS</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>HEIGHT</th>
            <th>CHEST</th>
            <th>WAIST</th>
            <th>HIPS</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td>3 - 4Y</td>
            <td class="convert">98-104</td>
            <td class="convert">55-57</td>
            <td class="convert">53-54</td>
            <td class="convert">58-60</td>
          </tr>
          <tr>
            <td>5 - 6Y</td>
            <td class="convert">110-116</td>
            <td class="convert">59-61</td>
            <td class="convert">55-57</td>
            <td class="convert">62-65</td>
          </tr>
          <tr>
            <td>7 - 8Y</td>
            <td class="convert">122-128</td>
            <td class="convert">63-67</td>
            <td class="convert">57-59</td>
            <td class="convert">70-73</td>
          </tr>
          <tr>
            <td>8 - 9Y</td>
            <td class="convert">128-134</td>
            <td class="convert">67-70</td>
            <td class="convert">59-60</td>
            <td class="convert">73-76</td>
          </tr>
          <tr>
            <td>9 - 10Y</td>
            <td class="convert">134-140</td>
            <td class="convert">70-73</td>
            <td class="convert">60-62</td>
            <td class="convert">76-79</td>
          </tr>
          <tr>
            <td>10 - 11Y</td>
            <td class="convert">140-146</td>
            <td class="convert">73-76</td>
            <td class="convert">62-64</td>
            <td class="convert">82-85</td>
          </tr>
          <tr>
            <td>12 - 13Y</td>
            <td class="convert">152-158</td>
            <td class="convert">79-82</td>
            <td class="convert">64-66</td>
            <td class="convert">88-91</td>
          </tr>
          <tr>
            <td>14 - 15Y</td>
            <td class="convert">164-166</td>
            <td class="convert">86-89</td>
            <td class="convert">68-70</td>
            <td class="convert">91-95</td>
          </tr>
          <tr>
            <td>15 - 16Y</td>
            <td class="convert">166-168</td>
            <td class="convert">89-92</td>
            <td class="convert">72-74</td>
            <td class="convert">95-99</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- BOYS Section -->
  <div class="size-chart-section">
    <h4>BOYS</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>HEIGHT</th>
            <th>CHEST</th>
            <th>WAIST</th>
            <th>HIPS</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td>3 - 4Y</td>
            <td class="convert">98-104</td>
            <td class="convert">55-57</td>
            <td class="convert">53-54</td>
            <td class="convert">58-60</td>
          </tr>
          <tr>
            <td>5 - 6Y</td>
            <td class="convert">110-116</td>
            <td class="convert">59-61</td>
            <td class="convert">55-57</td>
            <td class="convert">62-65</td>
          </tr>
          <tr>
            <td>7 - 8Y</td>
            <td class="convert">122-128</td>
            <td class="convert">63-67</td>
            <td class="convert">59-60</td>
            <td class="convert">68-70</td>
          </tr>
          <tr>
            <td>8 - 9Y</td>
            <td class="convert">128-134</td>
            <td class="convert">67-70</td>
            <td class="convert">60-62</td>
            <td class="convert">70-73</td>
          </tr>
          <tr>
            <td>9 - 10Y</td>
            <td class="convert">134-140</td>
            <td class="convert">70-73</td>
            <td class="convert">62-64</td>
            <td class="convert">73-76</td>
          </tr>
          <tr>
            <td>10 - 11Y</td>
            <td class="convert">140-146</td>
            <td class="convert">73-76</td>
            <td class="convert">64-66</td>
            <td class="convert">76-79</td>
          </tr>
          <tr>
            <td>12 - 13Y</td>
            <td class="convert">152-158</td>
            <td class="convert">79-82</td>
            <td class="convert">68-70</td>
            <td class="convert">82-85</td>
          </tr>
          <tr>
            <td>14 - 15Y</td>
            <td class="convert">164-170</td>
            <td class="convert">86-89</td>
            <td class="convert">72-74</td>
            <td class="convert">88-91</td>
          </tr>
          <tr>
            <td>15 - 16Y</td>
            <td class="convert">170-176</td>
            <td class="convert">89-92</td>
            <td class="convert">74-76</td>
            <td class="convert">91-94</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
