<div class="size-chart-sections">
  <!-- MENS JACKETS, COATS & GILETS Section -->
  <div class="size-chart-section">
    <h4>MENS JACKETS, COATS & GILETS</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>XXL</th>
            <th>3XL</th>
            <th>4XL</th>
            <th>5XL</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td><strong>CHEST</strong></td>
            <td class="convert">86 - 91</td>
            <td class="convert">91 - 97</td>
            <td class="convert">97 - 102</td>
            <td class="convert">102 - 107</td>
            <td class="convert">107 - 112</td>
            <td class="convert">112 - 117</td>
            <td class="convert">117 - 127</td>
            <td class="convert">127 - 137</td>
            <td class="convert">137 - 147</td>
          </tr>
          <tr>
            <td><strong>WAIST</strong></td>
            <td class="convert">71 - 76</td>
            <td class="convert">76 - 81</td>
            <td class="convert">81 - 86</td>
            <td class="convert">86 - 91</td>
            <td class="convert">91 - 97</td>
            <td class="convert">97 - 102</td>
            <td class="convert">102 - 107</td>
            <td class="convert">107 - 112</td>
            <td class="convert">112 - 117</td>
          </tr>
          <tr>
            <td><strong>ARM LENGTH (LONG)</strong></td>
            <td class="convert">84.5</td>
            <td class="convert">85</td>
            <td class="convert">86</td>
            <td class="convert">86.7</td>
            <td class="convert">87.5</td>
            <td class="convert">89</td>
            <td class="convert">91</td>
            <td class="convert">94</td>
            <td class="convert">94</td>
          </tr>
          <tr>
            <td><strong>NECK</strong></td>
            <td class="convert">37</td>
            <td class="convert">38</td>
            <td class="convert">39.5</td>
            <td class="convert">40.5</td>
            <td class="convert">42</td>
            <td class="convert">43</td>
            <td class="convert">44.5</td>
            <td class="convert">45.5</td>
            <td class="convert">48</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
