<div class="size-chart-sections">
  <!-- MENS SWEAT BOXERS Section -->
  <div class="size-chart-section">
    <h4>MENS SWEAT BOXERS</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>XXL</th>
            <th>XXXL</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td><strong>WAIST</strong></td>
            <td class="convert">71 - 76</td>
            <td class="convert">76 - 81</td>
            <td class="convert">81 - 86</td>
            <td class="convert">86 - 91</td>
            <td class="convert">91 - 97</td>
            <td class="convert">97 - 102</td>
            <td class="convert">102 - 107</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

