<div class="size-chart-sections">
  <!-- MENS SHORTS, JEANS & TROUSERS Section -->
  <div class="size-chart-section">
    <h4>MENS SHORTS, JEANS & TROUSERS</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>28</th>
            <th>30</th>
            <th>32</th>
            <th>34</th>
            <th>36</th>
            <th>38</th>
            <th>40</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td><strong>WAIST</strong></td>
            <td class="convert">71</td>
            <td class="convert">76</td>
            <td class="convert">81</td>
            <td class="convert">86</td>
            <td class="convert">91</td>
            <td class="convert">97</td>
            <td class="convert">102</td>
          </tr>
          <tr>
            <td><strong>SEAT</strong></td>
            <td class="convert">88 - 90</td>
            <td class="convert">93 - 95</td>
            <td class="convert">98 - 100</td>
            <td class="convert">103 - 105</td>
            <td class="convert">108 - 110</td>
            <td class="convert">113 - 115</td>
            <td class="convert">118 - 120</td>
          </tr>
          <tr>
            <td><strong>INSIDE LEG (TROUSERS)</strong></td>
            <td class="convert">81</td>
            <td class="convert">81</td>
            <td class="convert">81</td>
            <td class="convert">81</td>
            <td class="convert">81</td>
            <td class="convert">81</td>
            <td class="convert">81</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

