<div class="size-chart-sections">
  <!-- MENS SWIMWEAR, SWEAT SHORTS & JOGGERS Section -->
  <div class="size-chart-section">
    <h4>MENS SWIMWEAR, SWEAT SHORTS & JOGGERS</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>XXL</th>
            <th>XXXL</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td><strong>ELASTICATED WAIST</strong></td>
            <td class="convert">71 - 76</td>
            <td class="convert">76 - 81</td>
            <td class="convert">81 - 86</td>
            <td class="convert">86 - 91</td>
            <td class="convert">91 - 97</td>
            <td class="convert">97 - 102</td>
            <td class="convert">102 - 107</td>
          </tr>
          <tr>
            <td><strong>SEAT</strong></td>
            <td class="convert">88 - 90</td>
            <td class="convert">93 - 95</td>
            <td class="convert">98 - 100</td>
            <td class="convert">103 - 105</td>
            <td class="convert">108 - 110</td>
            <td class="convert">113 - 115</td>
            <td class="convert">118 - 120</td>
          </tr>
          <tr>
            <td><strong>INSIDE LEG (TROUSERS)</strong></td>
            <td class="convert">77</td>
            <td class="convert">77</td>
            <td class="convert">77</td>
            <td class="convert">77</td>
            <td class="convert">77</td>
            <td class="convert">77</td>
            <td class="convert">77</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

