<div class="size-chart-sections">
  <!-- WOMENS BOTTOMS (JEANS, JOGGERS, & LEGGINGS) Section -->
  <div class="size-chart-section">
    <h4>
      WOMENS BOTTOMS<br>
      (JEANS, JOGGERS, & LEGGINGS)
    </h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="size-chart-table-head">
            <th>SIZE</th>
            <th>8-XS</th>
            <th>10-S</th>
            <th>12-M</th>
            <th>14-L</th>
            <th>16-XL</th>
            <th>18-2XL</th>
            <th>20-3XL</th>
          </tr>
        </thead>
        <tbody class="size-chart-body">
          <tr>
            <td><strong>NATURAL WAIST</strong></td>
            <td class="convert">63.5</td>
            <td class="convert">68.5</td>
            <td class="convert">73.5</td>
            <td class="convert">78.5</td>
            <td class="convert">83.5</td>
            <td class="convert">89.5</td>
            <td class="convert">95.5</td>
          </tr>
          <tr>
            <td><strong>HIGH HIP</strong></td>
            <td class="convert">81</td>
            <td class="convert">86</td>
            <td class="convert">91</td>
            <td class="convert">96</td>
            <td class="convert">101</td>
            <td class="convert">107</td>
            <td class="convert">113</td>
          </tr>
          <tr>
            <td><strong>HIP</strong></td>
            <td class="convert">89</td>
            <td class="convert">94</td>
            <td class="convert">99</td>
            <td class="convert">104</td>
            <td class="convert">109</td>
            <td class="convert">115</td>
            <td class="convert">121</td>
          </tr>
          <tr>
            <td><strong>THIGH</strong></td>
            <td class="convert">53</td>
            <td class="convert">55.5</td>
            <td class="convert">58</td>
            <td class="convert">60.5</td>
            <td class="convert">63.5</td>
            <td class="convert">66.5</td>
            <td class="convert">66.5</td>
          </tr>
          <tr>
            <td><strong>RISE</strong></td>
            <td class="convert">66</td>
            <td class="convert">68</td>
            <td class="convert">70</td>
            <td class="convert">72</td>
            <td class="convert">74</td>
            <td class="convert">77</td>
            <td class="convert">80</td>
          </tr>
          <tr>
            <td><strong>INSIDE LEG (TROUSERS)</strong></td>
            <td class="convert">78</td>
            <td class="convert">78</td>
            <td class="convert">78</td>
            <td class="convert">78</td>
            <td class="convert">78</td>
            <td class="convert">78</td>
            <td class="convert">78</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

